:root{
    --main-bg-color: brown;
    --main-gray: gray;
    --black:  #000000;
    --black-alpha-05:  rgba(0, 0, 0, 0.05);
    --black-alpha-10:  rgba(0, 0, 0, 0.1);
    --black-alpha-15:  rgba(0, 0, 0, 0.15);
    --black-alpha-20:  rgba(0, 0, 0, 0.2);
    --black-alpha-30:  rgba(0, 0, 0, 0.3);
    --black-alpha-40:  rgba(0, 0, 0, 0.4);
    --black-alpha-50:  rgba(0, 0, 0, 0.5);
    --black-alpha-60:  rgba(0, 0, 0, 0.6);
    --black-alpha-80:  rgba(0, 0, 0, 0.8);
}