:root{
    --main-gray: #808080;
    --black:  rgb(0, 0, 0);
    --main-bg-color:  rgb(255, 255, 255);
    --black-alpha-05:  rgba(0, 0, 0, 0.05);
    --black-alpha-10:  rgba(0, 0, 0, 0.1);
    --black-alpha-15:  rgba(0, 0, 0, 0.15);
    --black-alpha-20:  rgba(0, 0, 0, 0.2);
    --black-alpha-30:  rgba(0, 0, 0, 0.3);
    --black-alpha-40:  rgba(0, 0, 0, 0.4);
    --black-alpha-50:  rgba(0, 0, 0, 0.5);
    --black-alpha-60:  rgba(0, 0, 0, 0.6);
    --black-alpha-80:  rgba(0, 0, 0, 0.8);
    --primary-text: rgb(12, 12, 12);
    // --secondary-text: 
    --main-icon: #505050;


    color: var(--primary-text);
}
